<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Medication Service</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>

<body>
    <main>
        <h1 class="text-center">Medication Service</h1>
        <nav>
            <ul>
                <li><a href="index">Medication Service</a></li>
                <li><a href="ressources">FHIR Ressourcen</a></li>
                <li class="active"><a href="medlist">Medikationsliste</a></li>
            </ul>
        </nav>

    </main>
</body>

</html>