<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>FHIR Datenansicht</title>
    <link rel="stylesheet" href="../static/style.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

</head>

<body>
    <!-- Container für die Accordion-Elemente -->
    <main>
        <h1 class="text-center">Medication Service</h1>
        <nav>
            <ul>
                <li><a href="control">Medication Service</a></li>
                <li class="active"><a href="ressources">FHIR Ressourcen</a></li>
                <li><a href="medlist">Medikationsliste</a></li>
            </ul>
        </nav>
        <div id="accordion-container"></div>
    </main>
    <div class="darkside detail-container" id="detail-container">
        <h1>FHIR Ressourcen</h1>
        <!-- Das formatierte JSON wird hier angezeigt -->
        <pre><code class="json" id="json-code"></code></pre>
    </div>
    <script src="../static/resources.js"></script>
</body>

</html>