body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    padding: 1em;
    margin: auto;
    padding-left: 3em;
}

/* Grundlegende Stil-Definitionen für die Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Dunkler Hintergrund */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white; /* Weiße Textfarbe */
    text-align: center;
    padding: 14px 16px; /* Innenabstand */
    text-decoration: none;
}

nav ul li a.active {
    color: #4CAF50; /* Grüne Farbe für aktive Links */
    font-weight: bold; /* Fettschrift für aktive Links */
}

/* Stil-Änderungen beim Überfahren mit der Maus */
nav ul li a:hover {
    background-color: #111; /* Dunklere Hintergrundfarbe beim Hover */
}

/* Responsive Design: Dropdown-Menü für kleinere Bildschirme */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
        width: 100%; /* Volle Breite für mobile Ansicht */
    }
}


.darkside {

    margin-top: 2em;
    clear: both;
    padding-left: 5em;
    background-color: #282c34;
    color: #ffffff;
}

.darkside h1 {
    padding-top: 1em;
    font-weight: bold;
}



.active {
    background-color: #ccc;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
}

.remove-button {
    margin-left: 10px; /* Adjust as needed */
}

.prescription-summary {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #dee2e6; /* Light gray border */
    border-radius: 5px;
    font-size: 0.9em;
}

.prescription-summary strong {
    font-weight: bold;
}



.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.summary-div {
    padding: 10px;
   
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.summary-div:hover {
    background-color: #eaeaea;
}

.detail-container {
    margin-top: 2em;
    padding: 1em;
    background-color: #282c34;
    color: #ffffff;
    max-height: 800px; /* Beispielhöhe, an Ihre Bedürfnisse anpassbar */
    overflow-y: auto; /* Ermöglicht das Scrollen, wenn der Inhalt die max-height überschreitet */
}

.detail-container pre {
    white-space: pre-wrap;
}
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #333; /* Dunkler Hintergrund */
    color: white;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #ddd;
}

.error-row {
    background-color: #ffb3b3; /* Softer red */
}

.success-row {
    background-color: #e0f8d8; /* A very light green color */
}
.custom-button {
    color: #333 !important; /* Dark text color */
    border: 1px solid #ddd !important; /* Subtle border */
    padding: 14px 16px; /* Padding */
    margin: 5px 0; /* Margin */
    width: 80%; /* Full width */
    transition: all 0.3s ease; /* Smooth transition effects */
    text-align: center; /* Centering text */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important; /* Light shadow for depth */
}

.custom-button:hover {
    background-color: #e6e6e6 !important; /* Slightly darker background on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Stronger shadow on hover */
}

.custom-button-primary {
    background-color: #e0f8d8; /* Primary light green color */
    color: #1b2fdf; /* Dark text color for contrast */
}

.custom-button-danger {
    background-color: #fadcdc; /* Light red color for danger buttons */
    color: #333; /* Dark text color for contrast */
}

.custom-button-primary:hover {
    background-color: #ccebc5; /* Slightly darker shade on hover for primary button */
}

.custom-button-danger:hover {
    background-color: #fab4b4; /* Slightly darker shade on hover for danger button */
}

.card {
    border-radius: 0; 
}

.card-header {
    padding: 0;
    cursor: pointer;
}

.card-header h5 {
    margin-bottom: 0;
    padding: 0.75rem;
    display: flex;
    align-items: center;
}

/* Styling .btn-link to look like an accordion header */
.btn-link {
    flex-grow: 1;
    text-align: left;
    color: #495057 !important;  /* Non-link color */
    background-color: transparent  !important; 
    padding: 0;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
}

.btn-link:hover, .btn-link:focus {
    background-color: transparent !important; 
    text-decoration: none !important; 
}

.btn-link.collapsed:before {
    content: '▶';
    font-size: 0.9rem;
    line-height: 0;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.btn-link:not(.collapsed):before {
    content: '▼';
    font-size: 0.9rem;
    line-height: 0;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.card-body {
    padding: 0;
    padding-top: -0.5rem;
    padding-left: 1.75em !important; 
}

.card-content {
    padding-left: 1.75rem;

}