body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    padding: 1em;
    margin: auto;
    padding-left: 3em;
}

/* Grundlegende Stil-Definitionen für die Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Dunkler Hintergrund */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white; /* Weiße Textfarbe */
    text-align: center;
    padding: 14px 16px; /* Innenabstand */
    text-decoration: none;
}

nav ul li a.active {
    color: #4CAF50; /* Grüne Farbe für aktive Links */
    font-weight: bold; /* Fettschrift für aktive Links */
}

/* Stil-Änderungen beim Überfahren mit der Maus */
nav ul li a:hover {
    background-color: #111; /* Dunklere Hintergrundfarbe beim Hover */
}

/* Responsive Design: Dropdown-Menü für kleinere Bildschirme */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
        width: 100%; /* Volle Breite für mobile Ansicht */
    }
}


.darkside {

    margin-top: 2em;
    clear: both;
    padding-left: 5em;
    background-color: #282c34;
    color: #ffffff;
}

.darkside h1 {
    padding-top: 1em;
    font-weight: bold;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.summary-div {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.summary-div:hover {
    background-color: #eaeaea;
}

.detail-container {
    margin-top: 2em;
    padding: 1em;
    background-color: #282c34;
    color: #ffffff;
    max-height: 800px; /* Beispielhöhe, an Ihre Bedürfnisse anpassbar */
    overflow-y: auto; /* Ermöglicht das Scrollen, wenn der Inhalt die max-height überschreitet */
}

.detail-container pre {
    white-space: pre-wrap;
}
