body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    padding: 1em;
    margin: auto;
    padding-left: 3em;
}

/* Grundlegende Stil-Definitionen für die Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Dunkler Hintergrund */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white; /* Weiße Textfarbe */
    text-align: center;
    padding: 14px 16px; /* Innenabstand */
    text-decoration: none;
}

nav ul li a.active {
    color: #4CAF50; /* Grüne Farbe für aktive Links */
    font-weight: bold; /* Fettschrift für aktive Links */
}

/* Stil-Änderungen beim Überfahren mit der Maus */
nav ul li a:hover {
    background-color: #111; /* Dunklere Hintergrundfarbe beim Hover */
}

/* Responsive Design: Dropdown-Menü für kleinere Bildschirme */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
        width: 100%; /* Volle Breite für mobile Ansicht */
    }
}


.darkside {

    margin-top: 2em;
    clear: both;
    padding-left: 5em;
    background-color: #282c34;
    color: #ffffff;
}

.darkside h1 {
    padding-top: 1em;
    font-weight: bold;
}

.accordion {
    background-color: #f2f2f2;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ddd;
}

.accordion.active {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.summary-wrapper {
    border: 1px solid #ddd;
    margin: 5px 0;
}

.summary-line {
    background-color: #e7e7e7;
    color: #333;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.summary-line:hover {
    background-color: #d7d7d7;
}

.detailed-summary {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
}

.summary-property {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.5;
}

.summary-property:last-child {
    margin-bottom: 0;
}


.detail-container {
    margin-top: 2em;
    padding: 1em;
    background-color: #282c34;
    color: #ffffff;
    max-height: 800px; 
    overflow-y: auto; 
}

.detail-container pre {
    white-space: pre-wrap;
}
