<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>E-Rezept-Fachdienst</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>

<body>
    <main>
        <h1>E-Rezept-Fachdienst</h1>
        <nav>
            <ul>
                <li class= "active"><a href="index">Fachdienst</a></li>
                <li ><a href="control">Fachdienst Controller</a></li>
            </ul>
        </nav>

    </main>
</body>

</html>