<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>E-Rezept-Fachdienst Interface</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://stackpath.bootstrapcdn.com">
    <link rel="preconnect" href="https://code.jquery.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
</head>

<body>
    <main>
        <h1 class="text-center">E-Rezept-Fachdienst</h1>
        <nav>
            <ul>
                <li><a href="index">Fachdienst</a></li>
                <li class="active"><a href="control">Fachdienst Controller</a></li>
            </ul>
        </nav>
    </main>

    <div id="banner"></div>

    <main class="container">
        <!-- Tab Navigation -->
        <ul class="nav nav-tabs" id="roleTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="arztpraxis-tab" data-toggle="tab" href="#arztpraxis" role="tab" aria-controls="arztpraxis" aria-selected="true">Arztpraxis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="apotheke-tab" data-toggle="tab" href="#apotheke" role="tab" aria-controls="apotheke" aria-selected="false">Apotheke</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="roleTabsContent">
            <!-- Arztpraxis Tab Pane -->
            <div class="tab-pane fade show active" id="arztpraxis" role="tabpanel" aria-labelledby="arztpraxis-tab">
                <!-- Nested Tabs for Arztpraxis -->
                <ul class="nav nav-tabs" id="arztpraxisTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="verschreibung-tab" data-toggle="tab" href="#verschreibung" role="tab" aria-controls="verschreibung" aria-selected="true">Verschreibungen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="organisation-tab" data-toggle="tab" href="#organisation" role="tab" aria-controls="organisation" aria-selected="false">Organisation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="practitioner-tab" data-toggle="tab" href="#practitioner" role="tab" aria-controls="practitioner" aria-selected="false">Arzt</a>
                    </li>
                </ul>
            
                <!-- Tab Content for Arztpraxis -->
                <div class="tab-content" id="arztpraxisTabContent">
                    <div class="tab-pane fade show active" id="verschreibung" role="tabpanel" aria-labelledby="verschreibung-tab">
                        <h3>Gesendete Verschreibungen</h3>
                        <div id="sentPrescriptions">
                            <!-- Sent prescriptions will be listed here -->
                        </div>
                        <h3>Neue Verschreibungen</h3>
                        <div id="prescriptionAccordion" role="tablist" aria-multiselectable="true">
                            <!-- Dynamic accordion items will be added here -->
                        </div>
                    
                        <button type="button" id="addPrescription" class="btn custom-button-primary">
                            <i class="fas fa-plus"></i> Verschreibung hinzufügen
                        </button>
                        <div></div>
                        <!-- Send Prescription Button -->
                        <button id="sendPrescription" class="btn custom-button-primary">Rezept Senden</button>
                        <button id="cancelPrescription" class="btn custom-button-danger">Rezept Stornieren</button>
                    </div>
            
                    <div class="tab-pane fade" id="organisation" role="tabpanel" aria-labelledby="organisation-tab">
                        <div id="practitionerOrganisationAccordion" role="tablist" aria-multiselectable="true">
                            <!-- Dynamic accordion items will be added here -->
                        </div>
                        <!-- Add your input fields for Organisation here -->
                    </div>
            
                    <div class="tab-pane fade" id="practitioner" role="tabpanel" aria-labelledby="practitioner-tab">
                        <div id="practitionerAccordion" role="tablist" aria-multiselectable="true">
                            <!-- Dynamic accordion items will be added here -->
                        </div>
                        <!-- Add your input fields for Practitioner here -->
                    </div>
                </div>
            
            
            </div>
           

            <!-- Apotheke Tab Pane -->
            <div class="tab-pane fade" id="apotheke" role="tabpanel" aria-labelledby="apotheke-tab">
                <ul class="nav nav-tabs" id="apothekeTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="dispensation-tab" data-toggle="tab" href="#dispensation" role="tab" aria-controls="dispensation" aria-selected="true">Abgaben</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="farmacy-tab" data-toggle="tab" href="#farmacy" role="tab" aria-controls="farmacy" aria-selected="false">Organisation</a>
                    </li>
                </ul>

                <!-- Tab Content for Apotheke -->
                <div class="tab-content" id="apothekeTabContent">

                    <div class="tab-pane fade show active" id="dispensation" role="tabpanel" aria-labelledby="dispensation-tab">
                        <h3>Neue Abgaben</h3>
                        <div id="dispensationAccordion" role="tablist" aria-multiselectable="true">
                            <!-- Dynamic accordion items will be added here -->
                        </div>
                        <button type="button" id="addDispensation" class="btn custom-button-primary">
                            <i class="fas fa-plus"></i> Abagbeinformation hinzufügen
                        </button>
                        <div></div>
                        <!-- Send Abgabe Button -->
                        <button id="sendDispensation" class="btn custom-button-primary">Abgabeinformation Senden</button>
                        <button id="cancelDispensation" class="btn custom-button-danger">Abgabeinformation stornieren</button>
                    </div>
            
                    <div class="tab-pane fade" id="farmacy" role="tabpanel" aria-labelledby="farmacy-tab">
                        <div id="farmacyOrganisationAccordion" role="tablist" aria-multiselectable="true">
                            <!-- Dynamic accordion items will be added here -->
                        </div>
                    </div>
            

                </div>
            </div>
        </div>

       

        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Action</th>
                    <th>URL</th>
                    <th>Request Payload</th>
                    <th>Response Message</th>
                    <th>Response Code</th>
                </tr>
            </thead>
            <tbody id="logTableBody"></tbody>
        </table>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="module" src="/static/js/control.js"></script>

   
    
</body>


</html>