<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>E-Rezept-Fachdienst Interface</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <main>
        <h1 class="text-center">E-Rezept-Fachdienst</h1>
        <nav>
            <ul>
                <li><a href="index">Fachdienst</a></li>
                <li class="active"><a href="control">Fachdienst Controller</a></li>
            </ul>
        </nav>
    </main>
    <div id="banner"></div>

    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="prescriptionAccordion" class="accordion">
                    <!-- Dynamic accordion items will be added here -->
                </div>
                
                <button type="button" id="addPrescription" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="row">
           

            <div class="col-md-3">
                <h2>Arztpraxis</h2>
                <button id="sendPrescription" class="btn custom-button custom-button-primary">Rezept Senden</button>
                <button id="cancelPrescription" class="btn custom-button custom-button-danger">Rezept Stornieren</button>
            </div>
            <div class="col-md-3">
                <h2>Patient</h2>
            </div>
            <div class="col-md-3">
                <h2>Apotheke</h2>
                <button id="sendDispensation" class="btn custom-button custom-button-primary">Abgabe Senden</button>
                <button id="cancelDispensation" class="btn custom-button custom-button-danger">Abgabe Stornieren</button>
            </div>
            <div class="col-md-3">
                <h2>Apotheke direkt</h2>
            </div>
            
        </div>
        
    </main>
    <main class="container">
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Action</th>
                <th>URL</th>
                <th>Rx Prescription Process Identifier</th>
                <th>Response Message</th>
                <th>Response Code</th>
            </tr>
        </thead>
        <tbody id="logTableBody"></tbody>
    </table>
</main>
    <script src="../static/control.js"></script>
</body>

</html>