<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>ePA Medication</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>

<body>
    <main>
        <h1>ePA Medication</h1>
        <nav>
            <ul>
                <li class="active"><a href="/">ePA Medication</a></li>
                <li><a href="ressources">FHIR Ressourcen</a></li>
                <li><a href="medlist">eML</a></li>
            </ul>
        </nav>

    </main>
</body>

</html>